.header {
    padding: 1rem 0;
    text-align: center;
}

.title {
    color: var(--color);
    font-family: calistoga;
    font-size: 3rem;
    text-decoration: none;
}

.title:hover {
    opacity: .7;
}

@media only screen and (min-width: 500px) {
    .title {
        font-size: 6rem;
    }
}
