.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
}

.nav-item {
    text-decoration: none;
}

.nav-item:hover {
    opacity: .7;
}

.active-nav-item {
    font-size: 140%;
    opacity: 1;
}